@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
html{
    height: 100%;
}
body{
    font-family: 'Overpass',sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    color: lightgrey;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}
h1{
    color: white;
    padding-left: 12px;
    font-weight: 700;
}
#maincard{
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    
}
#maindiv{
    padding-left: 25px;
    padding-right: 25px;
}
.buttons{
    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: lightgrey;
    background-color: hsl(216, 12%, 8%);
    transition: 0.5s;
}
.buttons:hover{
    background-color: hsl(216, 12%, 54%);
    color: white;
}
#starimg{
    background-color: hsl(216, 12%, 8%);
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 12px;
}
#submit{
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 25px;
    width: 95%;
    transition: 0.5s;
    margin-bottom: 20px;
    
    height: 50px;
}

#submit:hover{
    background-color: white;
    color: orange;
}


#btnrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#submitrow{
    display: flex;
    justify-content: center;
    padding: 0;
}
#mainPar{
    padding-left: 12px;
}

#secondcard{
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    display: none;
}
#tyimgdiv{
    display: flex;
    justify-content: center;
}
#tyimg{
    margin-bottom: 15px;
    padding-top: 30px;
    width: 150px;
    height: 125px;
    justify-content: center;
    
}
#selected{
    color: orange;
    margin: 0;
    transform: translate(0,2.5px);
    
}
#thankyou{
    text-align: center;
    padding: 15px;
    font-weight: 700;
    
}
#selectdiv{
    background-color: hsl(216, 12%, 8%);
    border-radius: 25px;
    text-align: center;
    width: 180px;
}
#appreciate{
    text-align: center;
    font-weight: 400;
}

@media (min-width: 400px){
    #maincard{
        width: 400px;
    }
    #secondcard{
        width: 375px;
    }
}